@model IEnumerable<HotelBooking.Models.TblKhachSan>
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/Home/home.css" />
</head>
<div class="content">
    <div class="Home_banner">
        <img src="/img/image-2.png" />
        <div class="timkiem">
            <input type="text" class="timkiem_input" id="timkiem_diachi" name="address" placeholder="Bạn muốn đến đâu" />
            <input type="date" class="timkiem_input" id="timkiem_date_nhan" name="nhanphong" placeholder="Ngày nhận">
            <input type="date" class="timkiem_input" id="timkiem_date_tra" name="traphong" placeholder="Ngày tra">
            <input type="number" class="timkiem_input" id="timkiem_number" name="number" placeholder="Số Người" />
            <button type="submit">Tìm Kiếm</button>
        </div>
    </div>
    <div class="Home_thinhhanh">
        <div class="diemdendangthinhhanh">
            <h2>Điểm đến đang thịnh hành</h2>
            <h4>Các lựa chọn phổ biến nhất từ du khách đến Việt Nam</h4>
        </div>
        <div class="Home_thinhhanh_content">
            <div class="left">
                <div class="left_content">
                    <img src="/img/image-4.png" />
                    <p class="text-wrapper">TP.HỒ CHÍ MINH</p>
                </div>
                <div class="left_content">
                    <img src="/img/image-5.png" />
                    <p class="text-wrapper">TP.HÀ NỘI</p>
                </div>
            </div>
            <div class="right">
                <div class="right_content">
                    <img src="/img/image-6.png" />
                    <p class="text-wrapper">TP.HẠ LONG</p>
                </div>
                <div class="right_content">
                    <img src="/img/image-7.png" />
                    <p class="text-wrapper">TP.NHA TRANG</p>
                </div>
                <div class="right_content">
                    <img src="/img/image-8.png" />
                    <p class="text-wrapper">TP.HUẾ</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="Home_hanoi">
            <h2>Khách Sạn Hàng Đầu Tại Hà Nội</h2>        
        <div class="noidung">
            @foreach (var item in Model)
            {
                <div class="khachsan">
                    <div class="khachsan_content">
                        <div class="anh">
                            <a asp-action="Details" asp-route-id="@item.IdKhachsan"><img class="khachsan_image" src="~/img/image-9.png" /></a>@* @Html.DisplayFor(modelItem => item.SAnhkhachsan) *@
                        </div>
                        <div class="ten">
                            @Html.DisplayFor(modelItem => item.STenkhachsan)
                        </div>
                        <div class="dichi">
                            @Html.DisplayFor(modelItem => item.SDiachi)
                        </div>
                        <div class="sao">
                            Đánh Giá: @Html.DisplayFor(modelItem => item.SDanhgia)
                        </div>
                        <div class="datphong">
                            <a asp-action="Details" asp-route-id="@item.IdKhachsan"><button type="button">Đặt phòng ngay</button></a>
                        </div>
                    </div>
                </div>
            }
           
        </div>
        <div class="clear"></div>
    </div>
    <div class="Home_HCM">
            <h2>Khách Sạn Hàng Đầu Tại TP.Hồ Chí Minh</h2>
        <div class="noidung">
            @foreach (var item in Model)
            {
                <div class="khachsan">
                    <div class="khachsan_content">
                        <div class="anh">
                            <a asp-action="Details" asp-route-id="@item.IdKhachsan"><img class="khachsan_image" src="~/img/image-9.png" /></a>@* @Html.DisplayFor(modelItem => item.SAnhkhachsan) *@
                        </div>
                        <div class="ten">
                            @Html.DisplayFor(modelItem => item.STenkhachsan)
                        </div>
                        <div class="dichi">
                            @Html.DisplayFor(modelItem => item.SDiachi)
                        </div>
                        <div class="sao">
                            Đánh Giá: @Html.DisplayFor(modelItem => item.SDanhgia)
                        </div>
                        <div class="datphong">
                            <a asp-action="Details" asp-route-id="@item.IdKhachsan"><button type="button">Đặt phòng ngay</button></a>
                        </div>
                    </div>
                </div>
            }
        </div>
         <div class="clear"></div>
    </div>
</div>
<div>
    heet
</div>