@model HotelBooking.Models.TblDatphong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblDatphong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DNgaycheckin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DNgaycheckin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DNgaycheckout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DNgaycheckout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SHinhthucthanhtoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SHinhthucthanhtoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPhongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPhongNavigation.IdPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUserNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUserNavigation.IdUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMadatphong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
